# This file is used to set environment variables for different Flask environments.
# Each section corresponds to a different environment.
# The variables can be loaded into the application using a library like python-dotenv.

#FLASK_ENV=testing
#LOG_LEVEL=DEBUG
#DATABASE_URL=sqlite:///:memory:
#JWT_SECRET=testging-jwt_secret

#FLASK_ENV=development
#LOG_LEVEL=DEBUG
#DATABASE_URL=sqlite:///dev.db
#JWT_SECRET=develop-jwt_secret
#IDENTITY_SERVICE_URL=http://localhost:5002/

#FLASK_ENV=staging
#LOG_LEVEL=DEBUG
#DATABASE_URL=postgresql://guardian:password@guardian-db/guardian_staging
#JWT_SECRET=staging-jwt_secret
#IDENTITY_SERVICE_URL=http://localhost:5002/

#FLASK_ENV=production
#DATABASE_URL=postgresql://user:pass@template_db/template_prod
#JWT_SECRET=production-jwt_secret
#IDENTITY_SERVICE_URL=http://localhost:5002/
#OTHER_SERVICE_URL=http://other_service:5001


